.container__aboutus{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 100px auto auto 80px;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas: "header header"
                         "main   main  "
                         "aside  aside "
                         "footer footer" ;
    font-family: "montserrat";
}
